<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce" parallel="tests" thread-count="5">

<listeners>
			<listener class-name="com.nopCommerce.utilities.Reporting"/>
	</listeners>


	<test name="nopCommerce Test1" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.nopCommerce.testClass.TC_LoginTest_001" /> 
		</classes>
	</test>
	
	<!-- <test name="nopCommerce Test2" thread-count="5">
		<parameter name="browser" value="ie" />
		<classes>
			<class name="com.nopCommerce.testClass.TC_LoginTest_001" /> 
		</classes>
	</test> 
	
	<test name="nopCommerce Test3" thread-count="5">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.nopCommerce.testClass.TC_LoginTest_001" /> 
		</classes>
	</test> -->
	

</suite>